<article id="about">
	<h2 class="major">About</h2>
	<span class="image main"><img src="{{ site.images }}/lux-1.jpg" alt="" /></span>
	<p>Located at 580, 5th avenue in Manhattan NY, our operation are centerally located in the heart of the diamond district in New York City. NYMNRC has been dealing in diamonds for the better part of a century. Founded in 1923, we have been helping clients succesfully buy and sell diamonds for nearly a century. We have experience expediting the sale of polished stones locally as well as abroad. We have experience in countries such as India, Isreal, Belgium, and Guinea.</p>
</article>
