<!DOCTYPE HTML>

<html>
	
	<!-- head -->
	{% include html_head.html %}
	
	<!-- Body -->
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			
			<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-diamond"></span>
				</div>
			
				<div class="content">
					<div class="inner">
						{{ content }}
					</div>
				</div>
				
				<nav>
					<ul>
						{% for link in site.navigation_links %}
							<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</header>
			
			<!-- Content -->
			<div id="main">
				
				<!-- About -->
				{% include about_section.html %}
				
				<!-- Contact -->
				{% include contact_section.html %}
			</div>
		
			<!-- Footer -->
			{% include footer.html %}

		</div>
		
		<!-- BG -->
		<div id="bg"></div>
		
		<!-- Dependencies and shit -->
		{% include scripts.html %}
	</body>
</html>
