<!DOCTYPE HTML>

<html>
	
	<!-- head -->
	{% include html_head.html %}
	
	<!-- Body -->
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			
			<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-diamond"></span>
				</div>
			
				<div class="content">
					<div class="inner">
						{{ content }}
					</div>
				</div>
				
				<nav>
					<ul>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>
			
			<!-- Content -->
			<div id="main">
				
				<!-- About -->
				<article id="about">
					<h2 class="major">About</h2>
					<span class="image main"><img src="{{ site.images }}/lux-1.jpg" alt="" /></span>
					<p>We at NYMNRC have been dealing in diamonds for the better part of a century. Founded in 1923, we have been helping clients succesfully buy and sell diamonds and have completed many different trade deals. We have experience both locally, here in the United States, but also abroad in countries like India, Isreal, Belgium, and Guinea to name a few. We hope to continue having succesful transactions with our clients, and hope we can strive to exist as a company for another century.</p>
				</article>
				
				<!-- Contact -->
				<article id="contact">
					<h2 class="major">Contact</h2>
					<span class="image main"><img src="{{ site.images }}/pic03.jpg" alt="" /></span>
					<p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
				</article>
			</div>
		
			<!-- Footer -->
			{% include footer.html %}

		</div>
		
		<!-- BG -->
		<div id="bg"></div>
		
		<!-- Dependencies and shit -->
		{% include scripts.html %}
	</body>
</html>
